In [104]:
import pandas as pd
import numpy as np
from collections import Counter

In [10]:
datafolder = '../data/data-10k/'

In [14]:
name_basics= 'name.basics-10k.tsv'

In [16]:
df_namebasics = pd.read_csv(datafolder + name_basics, sep='\t', quoting = 3)

In [18]:
df_namebasics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976"

In [60]:
df_namebasics.dtypes

nconst                object
primaryName           object
birthYear            float64
deathYear             object
primaryProfession     object
knownForTitles        object
dtype: object

In [54]:
df_namebasics['birthYear'] = df_namebasics['birthYear'].replace(r'\\N', np.nan, regex=True)
df_namebasics['birthYear'] = pd.to_numeric(df_namebasics['birthYear'], errors='coerce')

In [58]:
df_namebasics["birthYear"].astype(float)

0       1899.0
1       1924.0
2       1934.0
3       1949.0
4       1918.0
         ...
9994       NaN
9995       NaN
9996       NaN
9997       NaN
9998       NaN
Name: birthYear, Length: 9999, dtype: float64

In [64]:
df_namebasics['deathYear'] = df_namebasics['deathYear'].replace(r'\\N', np.nan, regex=True)
df_namebasics['deathYear'] = pd.to_numeric(df_namebasics['deathYear'], errors='coerce')
df_namebasics["birthYear"].astype(float)

0       1899.0
1       1924.0
2       1934.0
3       1949.0
4       1918.0
         ...
9994       NaN
9995       NaN
9996       NaN
9997       NaN
9998       NaN
Name: birthYear, Length: 9999, dtype: float64

In [22]:
df_namebasics["nconst"].nunique()

9999

In [24]:
df_namebasics["primaryName"].nunique()

9883

In [30]:
print(df_namebasics[df_namebasics["primaryName"].duplicated()])

         nconst      primaryName birthYear deathYear  \
252   nm0000253     Robert Ellis      1888      1935
1228  nm0001230    Harrison Ford      1884      1957
1293  nm0001295    Graham Greene      1952        \N
2115  nm0002117   Paul Guilfoyle        \N        \N
2210  nm0002213    Anders Bohman      1957        \N
...         ...              ...       ...       ...
9821  nm0009992   Kevin Ackerman        \N        \N
9839  nm0010011  Robert Ackerman        \N        \N
9923  nm0010101     Jack Ackroyd        \N        \N
9988  nm0010170    Carlos Acosta      1937      2010
9989  nm0010171    Carlos Acosta        \N        \N

                   primaryProfession                           knownForTitles
252       art_director,miscellaneous  tt0010965,tt0014083,tt0026454,tt0014515
1228           actor,archive_footage  tt0016251,tt0017344,tt0017201,tt0008351
1293           actor,writer,producer  tt0120689,tt5362988,tt0099348,tt0110478
2115  actor,producer,archive_footage  tt0119488,tt0118571,tt5853176,tt0119942
2210                        producer                                tt0120150
...                              ...                                      ...
9821                sound_department                                tt0106594
9839                  art_department                                tt0114047
9923                           actor  tt0098625,tt0309221,tt0089385,tt0094731
9988                  art_department  tt0090329,tt0091815,tt0084293,tt0096580
9989                           actor                                tt0061643

[116 rows x 6 columns]

In [68]:
df_namebasics["birthYear"].sort_values(ascending =True)

635     1564.0
6308    1678.0
5568    1685.0
1923    1685.0
3694    1712.0
         ...
9994       NaN
9995       NaN
9996       NaN
9997       NaN
9998       NaN
Name: birthYear, Length: 9999, dtype: float64

In [72]:
df_namebasics.iloc[635]

nconst                                                nm0000636
primaryName                                 William Shakespeare
birthYear                                                1564.0
deathYear                                                1616.0
primaryProfession                    writer,miscellaneous,actor
knownForTitles       tt10095582,tt20711868,tt8632012,tt14297038
Name: 635, dtype: object

In [74]:
df_namebasics["birthYear"].sort_values(ascending =False)

3089    1992.0
8886    1992.0
4869    1992.0
8918    1991.0
2796    1990.0
         ...
9994       NaN
9995       NaN
9996       NaN
9997       NaN
9998       NaN
Name: birthYear, Length: 9999, dtype: float64

In [76]:
df_namebasics.iloc[3089]

nconst                                   nm0003096
primaryName                        Jennifer Harris
birthYear                                   1992.0
deathYear                                      NaN
primaryProfession                          actress
knownForTitles       tt0211423,tt0220114,tt0377263
Name: 3089, dtype: object

In [92]:
df_namebasics['liste_mots'] = df_namebasics['primaryProfession'].str.split(',')
df_namebasics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,liste_mots
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125","[actor, miscellaneous, producer]"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355","[actress, soundtrack, archive_footage]"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452","[actress, music_department, producer]"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723","[actor, writer, music_department]"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976","[writer, director, actor]"

In [98]:
count_primaryprofession = df_namebasics["liste_mots"].explode().tolist()

In [100]:
compte_mots = Counter(count_primaryprofession)
compte_mots

Counter({'actor': 3771,
         'producer': 3354,
         'director': 2288,
         'writer': 2282,
         'actress': 2034,
         'miscellaneous': 1404,
         'soundtrack': 1006,
         'music_department': 977,
         'composer': 898,
         'camera_department': 888,
         'archive_footage': 876,
         'cinematographer': 796,
         'assistant_director': 494,
         'art_department': 393,
         'editor': 390,
         'production_manager': 352,
         'editorial_department': 326,
         'sound_department': 326,
         'visual_effects': 230,
         'production_designer': 158,
         'art_director': 142,
         'music_artist': 136,
         'stunts': 120,
         'special_effects': 112,
         'location_management': 100,
         'casting_department': 99,
         'make_up_department': 96,
         'costume_department': 89,
         'script_department': 87,
         'executive': 80,
         'animation_department': 80,
         'casting_director': 72,
         'costume_designer': 70,
         '\\N': 62,
         'set_decorator': 60,
         'transportation_department': 40,
         'archive_sound': 21,
         'manager': 15,
         'talent_agent': 11,
         'legal': 4,
         'choreographer': 1,
         'accountant': 1,
         'podcaster': 1,
         'publicist': 1})

In [102]:
df_namebasics['liste_knowntitles'] = df_namebasics['knownForTitles'].str.split(',')
df_namebasics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,liste_mots,liste_knowntitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125","[actor, miscellaneous, producer]","[tt0072308, tt0050419, tt0053137, tt0027125]"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355","[actress, soundtrack, archive_footage]","[tt0037382, tt0075213, tt0117057, tt0038355]"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452","[actress, music_department, producer]","[tt0057345, tt0049189, tt0056404, tt0054452]"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723","[actor, writer, music_department]","[tt0072562, tt0077975, tt0080455, tt0078723]"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976","[writer, director, actor]","[tt0050986, tt0083922, tt0069467, tt0050976]"

In [106]:
count_knownfortitles = df_namebasics["liste_knowntitles"].explode().tolist()

In [108]:
compte_titre_identique = Counter(count_knownfortitles)
compte_titre_identique

Counter({'\\N': 52,
         'tt0806910': 32,
         'tt0116629': 31,
         'tt0120201': 30,
         'tt0096542': 27,
         'tt0120903': 27,
         'tt0119094': 24,
         'tt0181689': 24,
         'tt0120591': 24,
         'tt0107290': 24,
         'tt0120685': 24,
         'tt0120338': 23,
         'tt0119654': 23,
         'tt0117731': 21,
         'tt0108778': 21,
         'tt0203009': 21,
         'tt0120738': 21,
         'tt0298814': 21,
         'tt0103064': 20,
         'tt0058796': 20,
         'tt0343818': 20,
         'tt0120647': 19,
         'tt0114814': 19,
         'tt0108757': 19,
         'tt0796366': 19,
         'tt0133152': 19,
         'tt1375666': 18,
         'tt0319262': 18,
         'tt0069658': 18,
         'tt0106079': 18,
         'tt0119488': 17,
         'tt0076759': 17,
         'tt0119116': 17,
         'tt0120891': 17,
         'tt0120915': 17,
         'tt0118749': 17,
         'tt0095016': 17,
         'tt0083658': 17,
         'tt0118437': 17,
         'tt0181875': 16,
         'tt0109830': 16,
         'tt2015381': 16,
         'tt0120689': 16,
         'tt0120844': 16,
         'tt0106145': 16,
         'tt0144117': 16,
         'tt0078346': 16,
         'tt1877832': 16,
         'tt0119925': 15,
         'tt0116695': 15,
         'tt0468569': 15,
         'tt0117998': 15,
         'tt0110912': 15,
         'tt0120611': 15,
         'tt0266697': 15,
         'tt0056758': 15,
         'tt0093260': 15,
         'tt1856101': 15,
         'tt0409459': 15,
         'tt0411008': 15,
         'tt0177971': 14,
         'tt0106179': 14,
         'tt0087332': 14,
         'tt0111257': 14,
         'tt0104694': 14,
         'tt0346156': 14,
         'tt0166924': 14,
         'tt0280707': 14,
         'tt0118688': 14,
         'tt0119282': 14,
         'tt0944947': 14,
         'tt0102975': 14,
         'tt0092455': 14,
         'tt4154796': 14,
         'tt0250687': 14,
         'tt0113855': 14,
         'tt0163651': 14,
         'tt0112022': 14,
         'tt0213149': 14,
         'tt0068646': 13,
         'tt0031381': 13,
         'tt0108399': 13,
         'tt0116282': 13,
         'tt0172495': 13,
         'tt0259711': 13,
         'tt0088763': 13,
         'tt0114369': 13,
         'tt0112384': 13,
         'tt0118655': 13,
         'tt0120053': 13,
         'tt0145660': 13,
         'tt0120737': 13,
         'tt0181865': 13,
         'tt0145487': 13,
         'tt0111280': 13,
         'tt0253754': 13,
         'tt0376994': 13,
         'tt0104797': 13,
         'tt0098844': 13,
         'tt0368008': 13,
         'tt0418279': 13,
         'tt0093894': 13,
         'tt0081856': 13,
         'tt0265086': 13,
         'tt0118276': 13,
         'tt0090605': 12,
         'tt0092099': 12,
         'tt0119229': 12,
         'tt0120461': 12,
         'tt0367279': 12,
         'tt0103491': 12,
         'tt1392190': 12,
         'tt0077631': 12,
         'tt0167260': 12,
         'tt0132347': 12,
         'tt0118884': 12,
         'tt0112178': 12,
         'tt0104691': 12,
         'tt0371746': 12,
         'tt0234215': 12,
         'tt0844441': 12,
         'tt0086759': 12,
         'tt0120863': 12,
         'tt0112442': 12,
         'tt0098904': 12,
         'tt0138097': 12,
         'tt0113492': 12,
         'tt0065272': 12,
         'tt0092325': 12,
         'tt0247082': 12,
         'tt0149261': 12,
         'tt0242423': 12,
         'tt0407304': 12,
         'tt0053125': 11,
         'tt0499549': 11,
         'tt0160127': 11,
         'tt0120347': 11,
         'tt0120890': 11,
         'tt0111503': 11,
         'tt0099348': 11,
         'tt0102798': 11,
         'tt0117060': 11,
         'tt0098936': 11,
         'tt0106977': 11,
         'tt0096874': 11,
         'tt0299658': 11,
         'tt0100405': 11,
         'tt0118928': 11,
         'tt0094737': 11,
         'tt0477348': 11,
         'tt0099329': 11,
         'tt0348150': 11,
         'tt0133093': 11,
         'tt0102685': 11,
         'tt0216216': 11,
         'tt0116209': 11,
         'tt0169547': 11,
         'tt0165710': 11,
         'tt1024648': 11,
         'tt0084726': 11,
         'tt0114558': 11,
         'tt0196229': 11,
         'tt0118715': 11,
         'tt0120812': 11,
         'tt0086190': 11,
         'tt0119177': 11,
         'tt0087182': 11,
         'tt0443706': 11,
         'tt0116225': 11,
         'tt0086960': 11,
         'tt0421715': 11,
         'tt0185183': 11,
         'tt0077000': 11,
         'tt0116922': 11,
         'tt0122690': 11,
         'tt0093640': 11,
         'tt0458339': 11,
         'tt0413573': 11,
         'tt0137494': 11,
         'tt0141842': 11,
         'tt0290334': 11,
         'tt0078638': 11,
         'tt0246578': 11,
         'tt1650062': 11,
         'tt0338337': 11,
         'tt0368891': 11,
         'tt0453467': 11,
         'tt0296572': 11,
         'tt0054331': 10,
         'tt0032138': 10,
         'tt0049833': 10,
         'tt3315342': 10,
         'tt0120746': 10,
         'tt0086567': 10,
         'tt0091042': 10,
         'tt0083929': 10,
         'tt0180093': 10,
         'tt0117509': 10,
         'tt0093779': 10,
         'tt2278388': 10,
         'tt0112573': 10,
         'tt0099653': 10,
         'tt0159365': 10,
         'tt0099422': 10,
         'tt0375679': 10,
         'tt0947798': 10,
         'tt0108333': 10,
         'tt0093870': 10,
         'tt0190138': 10,
         'tt0187393': 10,
         'tt1825683': 10,
         'tt0093409': 10,
         'tt0114508': 10,
         'tt0115639': 10,
         'tt0060028': 10,
         'tt0098749': 10,
         'tt0118880': 10,
         'tt0074119': 10,
         'tt0831387': 10,
         'tt0285331': 10,
         'tt0295701': 10,
         'tt0057193': 10,
         'tt0115243': 10,
         'tt0146838': 10,
         'tt0083399': 10,
         'tt0187078': 10,
         'tt0175142': 10,
         'tt0364845': 10,
         'tt0360717': 10,
         'tt0120789': 10,
         'tt0176357': 10,
         'tt0460681': 10,
         'tt0399201': 10,
         'tt0311429': 10,
         'tt0770828': 10,
         'tt1440129': 10,
         'tt1663662': 10,
         'tt0489099': 10,
         'tt0452046': 10,
         'tt0037382': 9,
         'tt0042192': 9,
         'tt0029843': 9,
         'tt0117631': 9,
         'tt0056172': 9,
         'tt0114746': 9,
         'tt0117500': 9,
         'tt0120082': 9,
         'tt0120902': 9,
         'tt0186566': 9,
         'tt0105690': 9,
         'tt0108052': 9,
         'tt0090329': 9,
         'tt0088939': 9,
         'tt0088247': 9,
         'tt0139654': 9,
         'tt0120655': 9,
         'tt0120828': 9,
         'tt0113987': 9,
         'tt3460252': 9,
         'tt0093507': 9,
         'tt0105665': 9,
         'tt0071315': 9,
         'tt0427327': 9,
         'tt0434409': 9,
         'tt0107362': 9,
         'tt0109831': 9,
         'tt0107144': 9,
         'tt0112697': 9,
         'tt0115759': 9,
         'tt0110632': 9,
         'tt1735898': 9,
         'tt0119217': 9,
         'tt0108122': 9,
         'tt0271367': 9,
         'tt0167261': 9,
         'tt0089218': 9,
         'tt0083987': 9,
         'tt0096754': 9,
         'tt0080745': 9,
         'tt0105946': 9,
         'tt0113277': 9,
         'tt0329717': 9,
         'tt1300854': 9,
         'tt0088846': 9,
         'tt1190080': 9,
         'tt0102059': 9,
         'tt0114898': 9,
         'tt0086879': 9,
         'tt0822854': 9,
         'tt0097742': 9,
         'tt0102070': 9,
         'tt0096061': 9,
         'tt0113481': 9,
         'tt0120901': 9,
         'tt0167190': 9,
         'tt0102526': 9,
         'tt0106697': 9,
         'tt0102803': 9,
         'tt0250494': 9,
         'tt0384766': 9,
         'tt0242445': 9,
         'tt0115320': 9,
         'tt0093773': 9,
         'tt0200550': 9,
         'tt0325710': 9,
         'tt0106004': 9,
         'tt0068327': 9,
         'tt1663202': 9,
         'tt0203259': 9,
         'tt0328107': 9,
         'tt1844624': 9,
         'tt0114857': 9,
         'tt1677720': 9,
         'tt3829266': 9,
         'tt1637688': 9,
         'tt1046173': 9,
         'tt0318627': 9,
         'tt0162065': 9,
         'tt0120667': 9,
         'tt1386703': 9,
         'tt1950186': 9,
         'tt0388795': 9,
         'tt0206634': 9,
         'tt0192917': 9,
         'tt0072308': 8,
         'tt0034583': 8,
         'tt0078788': 8,
         'tt0061184': 8,
         'tt0054698': 8,
         'tt0054215': 8,
         'tt0045793': 8,
         'tt0062622': 8,
         'tt0056197': 8,
         'tt0045810': 8,
         'tt0038650': 8,
         'tt0110357': 8,
         'tt0327056': 8,
         'tt0082340': 8,
         'tt0096895': 8,
         'tt0110413': 8,
         'tt0143145': 8,
         'tt0087363': 8,
         'tt0274558': 8,
         'tt0075314': 8,
         'tt0118661': 8,
         'tt2802144': 8,
         'tt0082971': 8,
         'tt0102926': 8,
         'tt0084805': 8,
         'tt4154664': 8,
         'tt0111161': 8,
         'tt0134119': 8,
         'tt0059113': 8,
         'tt0105698': 8,
         'tt1322269': 8,
         'tt0128445': 8,
         'tt0073486': 8,
         'tt0120577': 8,
         'tt0105151': 8,
         'tt0108160': 8,
         'tt0099685': 8,
         'tt0480249': 8,
         'tt0075148': 8,
         'tt0116367': 8,
         'tt0113161': 8,
         'tt0078748': 8,
         'tt2267998': 8,
         'tt0100502': 8,
         'tt0115685': 8,
         'tt1345836': 8,
         'tt0096438': 8,
         'tt0054047': 8,
         'tt0094012': 8,
         'tt0146675': 8,
         'tt0085995': 8,
         'tt0331811': 8,
         'tt0070909': 8,
         'tt3659388': 8,
         'tt0086200': 8,
         'tt0106598': 8,
         'tt0098384': 8,
         'tt1951266': 8,
         'tt0097733': 8,
         'tt0185014': 8,
         'tt0120382': 8,
         'tt0106770': 8,
         'tt0113189': 8,
         'tt0454876': 8,
         'tt0163025': 8,
         'tt0175880': 8,
         'tt0114194': 8,
         'tt0155776': 8,
         'tt0117218': 8,
         'tt0429493': 8,
         'tt0332452': 8,
         'tt0285333': 8,
         'tt0186151': 8,
         'tt0120755': 8,
         'tt0110622': 8,
         'tt1951265': 8,
         'tt0099810': 8,
         'tt0106918': 8,
         'tt0162661': 8,
         'tt0095270': 8,
         'tt0118480': 8,
         'tt1074638': 8,
         'tt0096684': 8,
         'tt1458175': 8,
         'tt0118799': 8,
         'tt0120609': 8,
         'tt0773262': 8,
         'tt0257076': 8,
         'tt0241527': 8,
         'tt0129167': 8,
         'tt0319061': 8,
         'tt0104036': 8,
         'tt0182789': 8,
         'tt0184858': 8,
         'tt0118254': 8,
         'tt0147612': 8,
         'tt0132245': 8,
         'tt0083437': 8,
         'tt0183790': 8,
         'tt0102057': 8,
         'tt0091129': 8,
         'tt0267804': 8,
         'tt0121766': 8,
         'tt0106168': 8,
         'tt0086393': 8,
         'tt0209144': 8,
         'tt0171804': 8,
         'tt0118956': 8,
         'tt1318514': 8,
         'tt0800080': 8,
         'tt0120735': 8,
         'tt0089370': 8,
         'tt0165929': 8,
         'tt0086734': 8,
         'tt3385516': 8,
         'tt0183523': 8,
         'tt0137363': 8,
         'tt2103281': 8,
         'tt1535108': 8,
         'tt0232500': 8,
         'tt0204946': 8,
         'tt0047296': 7,
         'tt0049261': 7,
         'tt0091763': 7,
         'tt0051201': 7,
         'tt0055031': 7,
         'tt0053779': 7,
         'tt0050083': 7,
         'tt0032551': 7,
         'tt0032976': 7,
         'tt0071877': 7,
         'tt0045152': 7,
         'tt0043278': 7,
         'tt0093058': 7,
         'tt0044081': 7,
         'tt0037008': 7,
         'tt0075860': 7,
         'tt0055614': 7,
         'tt0137523': 7,
         'tt0101120': 7,
         'tt0089908': 7,
         'tt0120586': 7,
         'tt1189073': 7,
         'tt0212346': 7,
         'tt0134084': 7,
         'tt0105793': 7,
         'tt0286716': 7,
         'tt0103855': 7,
         'tt0103074': 7,
         'tt1302006': 7,
         'tt0325980': 7,
         'tt0407887': 7,
         'tt0993846': 7,
         'tt0119738': 7,
         'tt1291580': 7,
         'tt0105695': 7,
         'tt0083866': 7,
         'tt0243155': 7,
         'tt0084434': 7,
         'tt0410975': 7,
         'tt0120885': 7,
         'tt0119822': 7,
         'tt0103759': 7,
         'tt0373469': 7,
         'tt0117951': 7,
         'tt0158552': 7,
         'tt0086827': 7,
         'tt0297884': 7,
         'tt0295178': 7,
         'tt0103874': 7,
         'tt0097322': 7,
         'tt0106677': 7,
         'tt0098282': 7,
         'tt0120815': 7,
         'tt0095956': 7,
         'tt0112641': 7,
         'tt7131622': 7,
         'tt0111301': 7,
         'tt0848228': 7,
         'tt0088172': 7,
         'tt0114660': 7,
         'tt0104348': 7,
         'tt0099487': 7,
         'tt0057115': 7,
         'tt0121765': 7,
         'tt0096697': 7,
         'tt0158622': 7,
         'tt0372784': 7,
         'tt0070047': 7,
         'tt0069113': 7,
         'tt0084827': 7,
         'tt0071360': 7,
         'tt2935510': 7,
         'tt0090756': 7,
         'tt0098206': 7,
         'tt0093437': 7,
         'tt1285016': 7,
         'tt0110308': 7,
         'tt0080684': 7,
         'tt0120324': 7,
         'tt0120616': 7,
         'tt0240772': 7,
         'tt0099674': 7,
         'tt0072431': 7,
         'tt0101410': 7,
         'tt0460649': 7,
         'tt0116313': 7,
         'tt0098554': 7,
         'tt0090305': 7,
         'tt0092699': 7,
         'tt0107822': 7,
         'tt0100802': 7,
         'tt0070735': 7,
         'tt0092007': 7,
         'tt0097216': 7,
         'tt0405336': 7,
         'tt0208003': 7,
         'tt1586680': 7,
         'tt0101921': 7,
         'tt0112950': 7,
         'tt0086034': 7,
         'tt0102510': 7,
         'tt0095705': 7,
         'tt0241303': 7,
         'tt0103893': 7,
         'tt0087781': 7,
         'tt0090264': 7,
         'tt0395843': 7,
         'tt1454029': 7,
         'tt2395427': 7,
         'tt0289879': 7,
         'tt0426883': 7,
         'tt0451279': 7,
         'tt0111127': 7,
         'tt0100403': 7,
         'tt0102511': 7,
         'tt0083412': 7,
         'tt0119951': 7,
         'tt0272338': 7,
         'tt0088559': 7,
         'tt0036868': 7,
         'tt0061811': 7,
         'tt0065314': 7,
         'tt0111282': 7,
         'tt0086822': 7,
         'tt0164184': 7,
         'tt0099423': 7,
         'tt0108724': 7,
         'tt0210945': 7,
         'tt0091867': 7,
         'tt0293508': 7,
         'tt0108358': 7,
         'tt0109444': 7,
         'tt3397884': 7,
         'tt0120784': 7,
         'tt0164181': 7,
         'tt0120888': 7,
         'tt0091474': 7,
         'tt1856010': 7,
         'tt0106307': 7,
         'tt0103442': 7,
         'tt0110478': 7,
         'tt0120185': 7,
         'tt0106582': 7,
         'tt3450958': 7,
         'tt0139239': 7,
         'tt0120663': 7,
         'tt0321021': 7,
         'tt2527338': 7,
         'tt0219653': 7,
         'tt5555260': 7,
         'tt0093378': 7,
         'tt0115956': 7,
         'tt0068638': 7,
         'tt0109254': 7,
         'tt0120684': 7,
         'tt0253556': 7,
         'tt3464902': 7,
         'tt0099088': 7,
         'tt0100685': 7,
         'tt10872600': 7,
         'tt2250912': 7,
         'tt0113845': 7,
         'tt0804503': 7,
         'tt0117705': 7,
         'tt0314353': 7,
         'tt0202179': 7,
         'tt6791350': 7,
         'tt0257756': 7,
         'tt0414993': 7,
         'tt0115857': 7,
         'tt0120768': 7,
         'tt1392170': 7,
         'tt0390022': 7,
         'tt0112112': 7,
         'tt0096928': 7,
         'tt1270797': 7,
         'tt0382992': 7,
         'tt0115624': 7,
         'tt0046593': 7,
         'tt0245686': 7,
         'tt0254481': 7,
         'tt0381707': 7,
         'tt0108968': 7,
         'tt0147800': 7,
         'tt1028528': 7,
         'tt0077975': 6,
         'tt0080455': 6,
         'tt0036855': 6,
         'tt0038787': 6,
         'tt0048545': 6,
         'tt0056801': 6,
         'tt0037059': 6,
         'tt0046250': 6,
         'tt0058385': 6,
         'tt0052357': 6,
         'tt0043014': 6,
         'tt0049408': 6,
         'tt0046303': 6,
         'tt0022100': 6,
         'tt0036613': 6,
         'tt0057413': 6,
         'tt0054997': 6,
         'tt0045061': 6,
         'tt0063518': 6,
         'tt0071562': 6,
         'tt0056218': 6,
         'tt0026138': 6,
         'tt0139809': 6,
         'tt0071853': 6,
         'tt0356910': 6,
         'tt0145531': 6,
         'tt0118747': 6,
         'tt0090685': 6,
         'tt0151738': 6,
         'tt0100263': 6,
         'tt0115285': 6,
         'tt0162346': 6,
         'tt0105236': 6,
         'tt0117571': 6,
         'tt0027977': 6,
         'tt0268978': 6,
         'tt0094226': 6,
         'tt0087800': 6,
         'tt0111686': 6,
         'tt0120694': 6,
         'tt0116908': 6,
         'tt0408236': 6,
         'tt0094761': 6,
         'tt0100935': 6,
         'tt1504320': 6,
         'tt0094608': 6,
         'tt0119395': 6,
         'tt0114436': 6,
         'tt0117438': 6,
         'tt0412080': 6,
         'tt0443272': 6,
         'tt0101761': 6,
         'tt0096446': 6,
         'tt0119695': 6,
         'tt1748122': 6,
         'tt0362270': 6,
         'tt0117247': 6,
         'tt0100140': 6,
         'tt0088847': 6,
         'tt0091225': 6,
         'tt0195685': 6,
         'tt0128853': 6,
         'tt0120632': 6,
         'tt0172493': 6,
         'tt0111438': 6,
         'tt5537002': 6,
         'tt0369179': 6,
         'tt0080453': 6,
         'tt1190634': 6,
         'tt0103772': 6,
         'tt0378194': 6,
         'tt0109348': 6,
         'tt0159097': 6,
         'tt0074812': 6,
         'tt0080661': 6,
         'tt0157503': 6,
         'tt0073440': 6,
         'tt0316732': 6,
         'tt0215750': 6,
         'tt0127536': 6,
         'tt0093428': 6,
         'tt0094514': 6,
         'tt0114011': 6,
         'tt0062765': 6,
         'tt0054518': 6,
         'tt0074851': 6,
         'tt0482571': 6,
         'tt0064116': 6,
         'tt0086006': 6,
         'tt0277371': 6,
         'tt0160862': 6,
         'tt0088930': 6,
         'tt2527336': 6,
         'tt0217505': 6,
         'tt0089941': 6,
         'tt0168629': 6,
         'tt0097240': 6,
         'tt0090466': 6,
         'tt0082136': 6,
         'tt0139414': 6,
         'tt0209163': 6,
         'tt0243655': 6,
         'tt0092890': 6,
         'tt0350258': 6,
         'tt5027774': 6,
         'tt0401792': 6,
         'tt0103644': 6,
         'tt0379725': 6,
         'tt0097351': 6,
         'tt0109686': 6,
         'tt0081283': 6,
         'tt2094766': 6,
         'tt1853728': 6,
         'tt0082398': 6,
         'tt3748528': 6,
         'tt0118971': 6,
         'tt0101272': 6,
         'tt1895587': 6,
         'tt0071577': 6,
         'tt0086927': 6,
         'tt0017136': 6,
         'tt0109506': 6,
         'tt0267913': 6,
         'tt1759761': 6,
         'tt0107048': 6,
         'tt0107206': 6,
         'tt0120601': 6,
         'tt0140352': 6,
         'tt0083190': 6,
         'tt2372162': 6,
         'tt0462322': 6,
         'tt0436697': 6,
         'tt0316654': 6,
         'tt0079574': 6,
         'tt0076752': 6,
         'tt0080339': 6,
         'tt0088170': 6,
         'tt0120179': 6,
         'tt0056937': 6,
         'tt0104952': 6,
         'tt0083564': 6,
         'tt0106308': 6,
         'tt0064115': 6,
         'tt1228705': 6,
         'tt0074285': 6,
         'tt1385826': 6,
         'tt3716530': 6,
         'tt0118615': 6,
         'tt0077416': 6,
         'tt0104257': 6,
         'tt0093191': 6,
         'tt0358273': 6,
         'tt0126886': 6,
         'tt4158110': 6,
         'tt0069599': 6,
         'tt0101452': 6,
         'tt0085407': 6,
         'tt0073631': 6,
         'tt0061578': 6,
         'tt0088933': 6,

In [148]:
df_namebasics["primaryName"].str.findall(r"([^a-zA-Z0-9\s\-'.])").explode().value_counts()

primaryName
:    1
/    1
Name: count, dtype: int64

In [158]:
test = df_namebasics["primaryName"].str.contains(r"[^a-zA-Z0-9\s\-'.]", regex = True)

In [160]:
df_namebasics["primaryName"].loc[test]

7228    Angel 11:11
9400          AC/DC
Name: primaryName, dtype: object