# Import des bibliothèques

In [1]:
import pandas as pd
from unidecode import unidecode
import numpy as np
from collections import Counter

# Chargement des Dataframes

In [2]:
datafolder = '../data/data-10k/'

In [3]:
# Ajout des DF qui vont servir pour créer les features
titlebasics= 'title.basics-10k.tsv'
titlecrew= 'title.crew-10k.tsv'
titleratings = 'title.ratings-10k.tsv'
namebasics = 'name.basics-10k.tsv'

In [4]:
# Ajout du title_principals pour la jointure des nm et des tt
titleprincipals='title.principals-10k.tsv'

In [5]:
df_titlebasics= pd.read_csv(datafolder + titlebasics, sep='\t', quoting = 3, na_values=r'\N')
df_titleratings= pd.read_csv(datafolder + titleratings, sep='\t', quoting = 3, na_values=r'\N')
df_namebasics= pd.read_csv(datafolder + namebasics, sep='\t', quoting = 3, na_values=r'\N')
df_titleprincipals= pd.read_csv(datafolder + titleprincipals, sep='\t', quoting = 3, na_values=r'\N')

In [6]:
df_titlebasics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5.0,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,NaN,12.0,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1.0,Short

In [7]:
df_titleratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2118
1  tt0000002            5.6       285
2  tt0000003            6.4      2158
3  tt0000004            5.3       183
4  tt0000005            6.2      2884

In [8]:
df_namebasics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0050976"

In [9]:
df_titleprincipals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]"
1,tt0000001,2,nm0005690,director,NaN,NaN
2,tt0000001,3,nm0005690,producer,producer,NaN
3,tt0000001,4,nm0374658,cinematographer,director of photography,NaN
4,tt0000002,1,nm0721526,director,NaN,NaN

In [10]:
df_join_titleprincipals_namebasics=pd.merge(df_titleprincipals, df_namebasics, how="left")

In [11]:
df_join_titleprincipals_namebasics.head()

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]",NaN,NaN,NaN,NaN,NaN
1,tt0000001,2,nm0005690,director,NaN,NaN,William K.L. Dickson,1860.0,1935.0,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
2,tt0000001,3,nm0005690,producer,producer,NaN,William K.L. Dickson,1860.0,1935.0,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560"
3,tt0000001,4,nm0374658,cinematographer,director of photography,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0000002,1,nm0721526,director,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_join_titleprincipals_namebasics_titlebasics=pd.merge(df_join_titleprincipals_namebasics, df_titlebasics, how="left")

In [13]:
df_join_titleprincipals_namebasics_titlebasics.head()

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]",NaN,NaN,NaN,NaN,NaN,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000001,2,nm0005690,director,NaN,NaN,William K.L. Dickson,1860.0,1935.0,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560",short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short"
2,tt0000001,3,nm0005690,producer,producer,NaN,William K.L. Dickson,1860.0,1935.0,"cinematographer,director,producer","tt1428455,tt1496763,tt0308254,tt0219560",short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short"
3,tt0000001,4,nm0374658,cinematographer,director of photography,NaN,NaN,NaN,NaN,NaN,NaN,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short"
4,tt0000002,1,nm0721526,director,NaN,NaN,NaN,NaN,NaN,NaN,NaN,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5.0,"Animation,Short"

In [14]:
df_join_titleprincipals_namebasics_titlebasics_titleratings=pd.merge(df_join_titleprincipals_namebasics_titlebasics, df_titleratings, how="left")

In [15]:
df_join_titleprincipals_namebasics_titlebasics_titleratings.head()

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,...,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]",NaN,NaN,NaN,NaN,...,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2118.0
1,tt0000001,2,nm0005690,director,NaN,NaN,William K.L. Dickson,1860.0,1935.0,"cinematographer,director,producer",...,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2118.0
2,tt0000001,3,nm0005690,producer,producer,NaN,William K.L. Dickson,1860.0,1935.0,"cinematographer,director,producer",...,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2118.0
3,tt0000001,4,nm0374658,cinematographer,director of photography,NaN,NaN,NaN,NaN,NaN,...,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2118.0
4,tt0000002,1,nm0721526,director,NaN,NaN,NaN,NaN,NaN,NaN,...,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5.0,"Animation,Short",5.6,285.0

In [16]:
df_full = df_join_titleprincipals_namebasics_titlebasics_titleratings

In [17]:
df_full.head()

,tconst,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,...,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]",NaN,NaN,NaN,NaN,...,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2118.0
1,tt0000001,2,nm0005690,director,NaN,NaN,William K.L. Dickson,1860.0,1935.0,"cinematographer,director,producer",...,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2118.0
2,tt0000001,3,nm0005690,producer,producer,NaN,William K.L. Dickson,1860.0,1935.0,"cinematographer,director,producer",...,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2118.0
3,tt0000001,4,nm0374658,cinematographer,director of photography,NaN,NaN,NaN,NaN,NaN,...,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2118.0
4,tt0000002,1,nm0721526,director,NaN,NaN,NaN,NaN,NaN,NaN,...,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5.0,"Animation,Short",5.6,285.0

In [18]:
df_clean = df_full[["tconst", "primaryTitle", "titleType", "genres", "startYear", "nconst","primaryName", "knownForTitles",  "category", "averageRating", "numVotes"]]

In [19]:
df_clean.head()

,tconst,primaryTitle,titleType,genres,startYear,nconst,primaryName,knownForTitles,category,averageRating,numVotes
0,tt0000001,Carmencita,short,"Documentary,Short",1894.0,nm1588970,NaN,NaN,self,5.7,2118.0
1,tt0000001,Carmencita,short,"Documentary,Short",1894.0,nm0005690,William K.L. Dickson,"tt1428455,tt1496763,tt0308254,tt0219560",director,5.7,2118.0
2,tt0000001,Carmencita,short,"Documentary,Short",1894.0,nm0005690,William K.L. Dickson,"tt1428455,tt1496763,tt0308254,tt0219560",producer,5.7,2118.0
3,tt0000001,Carmencita,short,"Documentary,Short",1894.0,nm0374658,NaN,NaN,cinematographer,5.7,2118.0
4,tt0000002,Le clown et ses chiens,short,"Animation,Short",1892.0,nm0721526,NaN,NaN,director,5.6,285.0

In [20]:
# Définition d'une fonction pour concaténer en supprimant les doublons
def concat_unique(series):
    return ', '.join(series.dropna().astype(str))

# Groupby sur tconst et concaténation des colonnes qui changent

df_clean = df_full.groupby("tconst").agg({  
    "primaryTitle": "first", 
    "titleType": "first", 
    "genres": "first", 
    "startYear": "first", 
    "nconst": lambda x: ', '.join(x),
    "primaryName": concat_unique, 
    "knownForTitles": concat_unique,  
    "category": concat_unique,  
    "averageRating": "first", 
    "numVotes": "first" 
}).reset_index()

In [21]:
df_clean.head()

,tconst,primaryTitle,titleType,genres,startYear,nconst,primaryName,knownForTitles,category,averageRating,numVotes
0,tt0000001,Carmencita,short,"Documentary,Short",1894.0,"nm1588970, nm0005690, nm0005690, nm0374658","William K.L. Dickson, William K.L. Dickson","tt1428455,tt1496763,tt0308254,tt0219560, tt142...","self, director, producer, cinematographer",5.7,2118.0
1,tt0000002,Le clown et ses chiens,short,"Animation,Short",1892.0,"nm0721526, nm1335271",,,"director, composer",5.6,285.0
2,tt0000003,Poor Pierrot,short,"Animation,Comedy,Romance",1892.0,"nm0721526, nm1770680, nm0721526, nm1335271, nm...",,,"director, producer, producer, composer, editor",6.4,2158.0
3,tt0000004,Un bon bock,short,"Animation,Short",1892.0,"nm0721526, nm1335271",,,"director, composer",5.3,183.0
4,tt0000005,Blacksmith Scene,short,Short,1893.0,"nm0443482, nm0653042, nm0249379",,,"actor, actor, producer",6.2,2884.0

# Changement sur les types des colonnes

In [22]:
df_clean.dtypes

tconst             object
primaryTitle       object
titleType          object
genres             object
startYear         float64
nconst             object
primaryName        object
knownForTitles     object
category           object
averageRating     float64
numVotes          float64
dtype: object

In [23]:
df_clean['startYear'].astype(float)

0       1894.0
1       1892.0
2       1892.0
3       1892.0
4       1893.0
         ...
1693    1911.0
1694    1911.0
1695    1911.0
1696    1911.0
1697    1910.0
Name: startYear, Length: 1698, dtype: float64

In [24]:
df_clean.dtypes

tconst             object
primaryTitle       object
titleType          object
genres             object
startYear         float64
nconst             object
primaryName        object
knownForTitles     object
category           object
averageRating     float64
numVotes          float64
dtype: object

# Création de la pipeline

In [28]:
!pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.6.1-cp313-cp313-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\maxim\documents\formationdevia\projet netfloox\netfloox-recommandation\env\lib\site-packages (from scikit-learn) (2.2.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\maxim\documents\formationdevia\projet netfloox\netfloox-recommandation\env\lib\site-packages (from scikit-learn) (1.15.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.6.1-cp313-cp313-win_amd64.whl (11.1 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 threadpoolctl-3.5.0

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import MinMaxScaler
import pandas as pd   
X = pd.DataFrame({
    "documents": ["First item", "second one here", "Is this the last?"],
    "width": [3, 4, 5],
})  
# "documents" is a string which configures ColumnTransformer to
# pass the documents column as a 1d array to the CountVectorizer
ct = ColumnTransformer(
    [("text_preprocess", CountVectorizer(), "documents"),
     ("num_preprocess", MinMaxScaler(), ["width"])])
X_trans = ct.fit_transform(X)